NODE_ENV=dev

APP_PORT=3000
HASH_SALT=10

DATABASE_DRIVER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db
DATABASE_USERNAME=db
DATABASE_PASSWORD=postgres

JWT_ACCESS_SECRET=super-secret-access-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super-secret-refresh-key
JWT_REFRESH_EXPIRES_IN=7d
